vmlinux
*.ko
*.gz
*.d
*.o
*.cmd
*.mod.c
.tmp*
.version
Module.symvers
System.map
*.a
.arch
*Image
scripts/basic/docproc
scripts/basic/fixdep
scripts/conmakehash
scripts/kallsyms
scripts/mod/modpost
scripts/mod/mk_elfconfig
usr/gen_init_cpio
lib/gen_crc32table
scripts/kconfig/conf
scripts/kconfig/mconf
scripts/kconfig/zconf.tab.c
scripts/kconfig/zconf.hash.c
scripts/mod/elfconfig.h
lib/crc32table.h
drivers/char/defkeymap.c
drivers/char/consolemap_deftbl.c
include/asm-arm/arch
include/asm-arm/mach-types.h
include/asm-arm/asm-offsets.h
scripts/kconfig/lex.zconf.c
arch/arm/kernel/asm-offsets.s
include/linux/autoconf.h
include/linux/version.h
include/linux/utsrelease.h
include/linux/compile.h
